mkdocs
mkdocs-include-markdown-plugin
mkdocs-jupyter
numpy
matplotlib
mkdocs-material
# M1 core dependencies
music21
mido
jsonschema
pytest
# M2 core dependencies
python-rtmidi
bleak
# M2 test dependencies
pytest-asyncio
